body {
    background-color: rgb(108, 142, 135);
    padding: 18px;
    border-radius: 12px;
    text-align:left;
    background-image: url(../../../../../Downloads/resume. image.png);
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 40px;
    color: #7c8198;
}

.card {
    background:  #A39397;
    border-radius: 18px;
    padding: 30px;
    color: #0f0212;
   margin-top: 230px;
  
   margin-left: 450px ;
   margin-right: 450px ;
  
}
.loader{
    background-color: #546fb5;
    border-radius: 20px;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #216055;
}

textarea,
input[type="file"] {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #5f0000;
}

button {
     background: linear-gradient(135deg, #bb5757, #583434);
    border-radius: 40px;
    font-size: 17px;
    font-weight: 600;
    padding:10px ;
    margin-top: 10px;
}

button:hover {
    background: #204e4e;
     transform: scale(1.05);
}

.result-card {
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    background: #546fb5;
}

.badge {
    display: inline-block;
    background: #d3b58d;
    color: rgb(94, 76, 76);
    padding: 6px 12px;
    border-radius: 20px;
    margin: 5px;
}
label{
    font-size: large;
    font-weight: bold;
    color: #53621f;
    
    
}
.chart-card {
  margin-top: 20px;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 12px;
}

.bar-container {
  width: 100%;
  height: 30px;
  background: #ddd;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px 0;
}

.bar-fill {
  height: 100%;
  background: linear-gradient(90deg, #6a11cb, #2575fc);
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
}



.Card{
    margin-top: 20px;
    margin-left:600px ;
    margin-right:600px ;
    text-align: center;
    border-radius: 30px;
    font-weight: bold;
    background-color: #9387ea;
    padding: 20px;
}
